; Authentication
; Password should be hashed for security reasons. 
; It's recommended to hash passwords using password_hash() function and store the hashed value.
password_hash = ""

; Encryption method for password. Options: "clear" or "password_hash".
encryption = "clear"

; User Role
role = "admin"
