; General settings
site.url = ""
timezone = "Asia/Jakarta"
date.format = "d F Y"
language = "en_US"
blog.title = "HTMLy"
blog.tagline = "Just another HTMLy blog"
blog.description = "Proudly powered by HTMLy, a databaseless blogging platform."
blog.copyright = "(c) Your name."
permalink.type = "default"
static.frontpage = "false"
blog.enable = "false"

; Social media
social.twitter = ""
social.facebook = ""
social.instagram = ""
social.linkedin = ""
social.github = ""
social.youtube = ""
social.mastodon = ""
social.tiktok = ""

; Comments
comment.system = "disable"
fb.appid = ""
fb.num = "5"
fb.color = "light"
disqus.shortname = ""

; Google tools
google.wmt.id = ""
google.analytics.id = ""
google.gtag.id = ""
google.reCaptcha = "false"
google.reCaptcha.public = ""
google.reCaptcha.private = ""

; Pagination, RSS, and JSON
posts.perpage = "10"
category.perpage = "10"
tag.perpage = "10"
archive.perpage = "10"
search.perpage = "10"
profile.perpage = "10"
type.perpage = "10"
json.count = "10"

; Others
category.info = "true"
related.count = "3"
recent.count = "5"
popular.count = "5"
tagcloud.count = "40"
read.more = "Read more"
teaser.type = "full"
teaser.behave = "default"
teaser.char = "200"
description.char = "150"
rss.count = "10"
rss.char = "200"
views.counter = "false"

; Sitemap priorities
sitemap.priority.base = "1.0"
sitemap.priority.post = "0.5"
sitemap.priority.static = "0.5"
sitemap.priority.category = "0.5"
sitemap.priority.tag = "0.5"
sitemap.priority.archiveDay = "0.5"
sitemap.priority.archiveMonth = "0.5"
sitemap.priority.archiveYear = "0.5"
sitemap.priority.author = "0.5"
sitemap.priority.type = "0.5"

; Other settings
prerelease = "false"
cache.expiration = "6"
cache.off = "false"
generation.time = "false"
cache.timestamp = "false"
multi.site = "false"
toc.label = "Table of Contents"
toc.state = "close"
toc.style = "default"
toc.automatic = "false"
toc.position = "1"

; Title formats
home.title.format = "%blog_title% - %blog_tagline%"
post.title.format = "%post_title% - %blog_title%"
page.title.format = "%page_title% - %blog_title%"
category.title.format = "%category_title% - %blog_title%"
tag.title.format = "%tag_title% - %blog_title%"
archive.title.format = "%archive_title% - %blog_title%"
search.title.format = "%search_title% - %blog_title%"
type.title.format = "%type_title% - %blog_title%"
profile.title.format = "%author_name% - %blog_title%"
blog.title.format = "Blog - %blog_title%"
default.title.format = "%page_title% - %blog_title%"

; Open Graph and favicon images
default.image = ""
favicon.image = ""

; Theme
views.root = "themes/twentysixteen"
views.layout = "layout"
